/**
 * Custom color palette. Imported in globals.css before Tailwind so @theme is merged.
 * Use in Tailwind as: bg-brand-primary, text-dark-s-0, border-dark-s-700, etc.
 */
@theme {
  /* Dark palette */
  --color-dark-0: #ffffff;
  --color-dark-10: #fbfbfb;
  --color-dark-20: #f6f6f6;
  --color-dark-30: #ededed;
  --color-dark-40: #e2e2e2;
  --color-dark-50: #c7c7c7;
  --color-dark-60: #b9b9b9;
  --color-dark-70: #aeaeae;
  --color-dark-80: #a1a1a1;
  --color-dark-90: #939393;
  --color-dark-100: #868686;
  --color-dark-200: #787878;
  --color-dark-300: #6b6b6b;
  --color-dark-400: #5f5f5f;
  --color-dark-500: #525252;
  --color-dark-600: #474747;
  --color-dark-700: #373737;
  --color-dark-800: #292929;
  --color-dark-900: #1e1e1e;

  /* Dark S palette */
  --color-dark-s-0: #ffffff;
  --color-dark-s-10: #fafafb;
  --color-dark-s-20: #f6f6f6;
  --color-dark-s-30: #eceded;
  --color-dark-s-40: #e1e1e2;
  --color-dark-s-50: #c5c6c7;
  --color-dark-s-60: #b7b8ba;
  --color-dark-s-70: #abadaf;
  --color-dark-s-80: #9d9fa1;
  --color-dark-s-90: #8f9194;
  --color-dark-s-100: #818387;
  --color-dark-s-200: #737679;
  --color-dark-s-300: #65686c;
  --color-dark-s-400: #5a5c61;
  --color-dark-s-500: #4c4f53;
  --color-dark-s-600: #404348;
  --color-dark-s-700: #303339;
  --color-dark-s-800: #22252b;
  --color-dark-s-900: #161a20;

  --color-brand-black: #121212;
  --color-brand-skyblue: #4fc5ff;
  --color-brand-primary: #b2ff00;
  --color-brand-secondary: #81a236;
}
